{% extends 'layout.html' %}
{% block title %}{{ super() }} - Tags{% endblock %}

{% block content %}
<div class="container">
  <p id="main_header">{{ tag }}</p>
  <div class="jumbotron">
    <p style="border: 4px solid #4b4b4b; background-color:#4b4b4b; color:white;" class="list-group-item">{{ user.username.upper() }}'s ENTRIES WITH TAG: {{ tag }}</p>
    <br>
    <div class="d-flex w-100 justify-content-start">
      {% for entry in tagged_journals %}
      <a class="list-group-item" href="{{url_for('details', entry=entry.title|slugify)}}">{{ entry.title }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="jumbotron">
    <p style="border: 4px solid #4b4b4b; background-color:#4b4b4b; color:white;" class="list-group-item">ENTRIES WITH TAG: {{ tag }}</p>
    <br>
    <div class="d-flex justify-content-start">
      {% for entry in entries_query %}
      <a class="list-group-item" href="{{url_for('details', entry=entry.title|slugify)}}">{{ entry.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
